/* Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* ------------------------------------------------- */
  /* Checker                                           */
  /* ------------------------------------------------- */
  #checker-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  
  /* ------------------------------------------------- */
  /* Styles                                            */
  /* ------------------------------------------------- */
  @font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Hairline.ttf) format("truetype");
    font-weight: 100; /* Hairline */
  }
  
  @font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Light.ttf) format("truetype");
    font-weight: 300; /* Light */
  }
  
  body {
    padding: 1rem;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    font-family: "Lato", sans-serif;
  }
  
  header {
    display: flex;
  }
  
  img {
    max-width: 100%;
  }
  
  .logo {
    flex: 1;
  }
  
  .title {
    flex: 4;
    text-align: right;
    text-transform: uppercase;
  }
  
  .title > h1 {
    font-family: "Lato";
    font-weight: 100; /* Hairline */
    font-size: 2.5rem;
    color: #bcbbbb;
    padding-top: 0.5rem;
  }
  
  .title > h3 {
    font-size: small;
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #bcbbbb;
    padding: 1rem 0.5rem 0.5rem; /* Consolidated padding */
  }
  
  .items-container {
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    text-align: center;
  }
  
  .item > h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #747704;
  }
  
  .item > a {
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    color: #747704;
  }
  
  hr {
    border: thin solid #bcbbbb;
    margin-bottom: 1.5rem;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .items-container {
      flex-direction: column;
    }
  
    .item {
      width: 200px;
      margin: auto;
      padding-bottom: 1rem;
    }
  
    h2 {
      text-align: center;
      font-size: 2rem;
    }
  
    .logo {
      padding-top: 1.1rem;
    }
  }
  