/* ------------------------------------------------- */
/* Checker                                           */
/* ------------------------------------------------- */
#checker-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}

/* * {
    outline: 1px solid red !important;
} */

/* ------------------------------------------------- */
/* Styles                                            */
/* ------------------------------------------------- */
.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
 }
 
 .logo {
    flex: 1;
 }
   
 .title {
   flex: 4;
 }

 .title {
    flex: 4;
    text-align: right;
    text-transform: uppercase; 
 }
 .items-container {
    display: flex;
    justify-content: space-between;
 }

 .item {
    text-align: center;
 }